/*Todo*/

body{
	padding: 0;
	margin: 0;
}


ul{
	list-style: none;
	margin: 0;
}

/* NAV */
nav{
	padding-top: 30px;


}


.menu ul li{
	display: inline-block;
	top: 15px;

}

.menu ul li a{
	color:black;
	text-decoration: none;
	border-style: solid;
	border-color: white;
	padding-left: 35px;
	padding-right: 35px;
	border-left-style: none;


}

.menu ul li a{
	background-color: #D3D3D3;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;


}
nav ul {
	background-color: #D3D3D3;
	padding: 5px;

}

.texto2 {
	float: right;
	margin-top:50px;
	width: 50%
}
.grid-container {
	margin-top: 50px;
	margin-left: 30px;
  display: grid;
  grid-template-columns: 176px 100px 70px 100px 90px;
  grid-template-rows: 10% 10% 35px 90px 10%;
  grid-template-areas: "foto1 foto1 . texto1 texto1" ". foto2 foto2 . ." ". foto4 foto5 foto5 foto6" "foto3 foto4 . . ." ". texto2 texto2 foto7 foto7";
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.foto1 { grid-area: foto1; }

.texto1 { grid-area: texto1; }

.foto2 { grid-area: foto2; }

.foto4 { grid-area: foto4; }

.foto3 { grid-area: foto3; }

.foto5 { grid-area: foto5; }

.foto6 { grid-area: foto6; }

.foto7 { grid-area: foto7; }

.texto2 { grid-area: texto2; } 

.blue{
	color:lightblue;
}

.negrita {
	font-weight: bold;
}

.menu a:hover{
	color:#4AB4A7;
}

/*Responsive*/
@media (max-width: 1220px) {
	* {
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	.menu ul li{
		display: block;
		padding-top: 15px;
	}
	.menu ul li a{
		color:black;
		text-decoration: none;
		border-style: solid;
		border-color: #D3D3D3;
		background-color: #D3D3D3;
		padding-left: 15px;
		padding-right: 15px;
	}
	.texto2 {
	float: none;
	margin-top: 40px;
	width: 100%;
	}
	.grid-container {
		display: inline-block;
	}
}
